extends ../../layout/default.pug
include ../../mixins/alert.pug

block content
  +alert-error("5000")
  h2.text-center.mb-4 Chỉnh sửa vai trò

  form(method="POST", action=`${prefixAdmin}/roles/edit/${data._id}?_method=PATCH`, class="container p-4 border rounded shadow-sm")
    .mb-3
      label.form-label(for="title") Tên vai trò:
      input.form-control(type="text", name="title", required, value=data.title)

    .mb-3
      label.form-label(for="description") Mô tả:
      textarea.form-control(name="description")= data.description || ''

    .d-flex.justify-content-end
      button.btn.btn-success(type="submit") Cập nhật
